.body {
  --padding: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem 1.25rem;
  border-bottom: 1px solid var(--a-border-default);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

.headerDivider {
  width: 1px;
  height: 1.5rem;
  background: var(--a-border-default);
}

.headerLink {
  text-decoration: none;
  width: max-content;
  color: var(--a-text-default);
}

.container {
  flex: 1;
}

.sideBar {
  padding: var(--padding);
  border: 1px solid var(--a-border-default);
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.mainContent {
  --horizontal-padding: 4rem;
  padding: var(--padding) var(--horizontal-padding);
  max-width: calc(75ch + 2 * var(--horizontal-padding));
  min-width: calc(40ch + 2 * var(--horizontal-padding));
}