.link {
  text-decoration: none;
  color: var(--a-text-subtle);
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  width: 100%;
  flex: 1;
  border-radius: var(--a-border-radius-medium);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link:hover:not(:active) {
  background: var(--a-bg-subtle);
}